#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif

PNG_TITLE       RCData "images\\title.png"
PNG_ROCK        RCData "images\\rock1.png"
PNG_PAPER       RCData "images\\paper1.png"
PNG_SCISSORS    RCData "images\\scissors1.png"
PNG_ROCK2       RCData "images\\rock.png"
PNG_PAPER2      RCData "images\\paper.png"
PNG_SCISSORS2   RCData "images\\scissors.png"

