#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif

PNG_TITLE       RCData "images\\title.png"
PNG_ROCK        RCData "images\\rock.png"
PNG_PAPER       RCData "images\\paper.png"
PNG_SCISSORS    RCData "images\\scissors.png"

