#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif

Roche       BITMAP  "images\\rock1.bmp"
Papier      BITMAP  "images\\paper1.bmp"
Ciseaux     BITMAP  "images\\scissors1.bmp"
Roche2      BITMAP  "images\\rock.bmp"
Papier2     BITMAP  "images\\paper.bmp"
Ciseaux2    BITMAP  "images\\scissors.bmp"

PNG_TITLE   RCData "images\\title.png"

